/* CSS Body */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

#body {
    background-color: rgb(14, 16, 27);
    color: white;
    font-family: 'Nunito';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}



/* CSS Header */

#header {
    width: 90vw;
    height: 6vh;
    background-color: #1215284e;
    display: flex;
    justify-content: space-evenly;
    display: none;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.409);
    user-select: none;
}

#relogio-header {
    font-size: 20pt;
    margin-top: 1.4vh;
}

#relogio-header:hover {
    color: blueviolet;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

#info {
    width: 15vw;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    column-gap: 3vh;
}

#info img {
    height: 40px;
}

.card-header {
    width: 50px;
    margin-top: 12px;
}

.card-header:hover {
    transform: scale(1.10);
    transition-duration: 0.1s;
}



/* CSS Relógio */

#div-relogio {
    font-size: 50pt;
    height: 10vh;
    width: 13vw;
    margin-top: 40vh;
    user-select: none;
}

#div-relogio:hover {
    color: blueviolet;
    transform: scale(1.05);
    transition-duration: 0.4s;
}



/* CSS Opções de Escolha */

#bloco {
    margin-top: 20vh;
    width: 40%;
    height: 40vh;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #1215284e;
    display: none;
    color: white;
}

#bloco img {
    width: 8vw;
}

#titulo {
    margin-top: 4%;
    font-size: 2pc;
}

.opcao {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 26%;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}

.opcao img {
    width: 150px;
    padding: 11.5%;
    user-select: none;
}

.btn-despertador:hover,
.btn-temporizador:hover,
.btn-cronometro:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#txt-despertador,
#txt-temporizador,
#txt-cronometro {
    margin-top: 2.8vh;
    font-size: 1.8pc;
    display: none;
}

.btn-despertador:hover~#txt-despertador,
.btn-temporizador:hover~#txt-temporizador,
.btn-cronometro:hover~#txt-cronometro {
    display: inline-block;
}

.opcaoTexto {
    margin-top: 35%;
    font-weight: bold;
}

.input-temporizador {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    width: 4vw;
    height: 7vh;
    background-color: rgba(70, 71, 80, 0.238);
    color: white;
    font: 'Nunito';
    font-size: 40pt;
    text-align: center;
}

#confirmar-valor {
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    width: 14vw;
    font-size: 12pt;
    height: 2vh;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#confirmar-valor:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#div-inputs-temporizador {
    margin: 0 auto;
    width: 25vw;
    font-size: 50pt;
}



/* CSS Div Escolhinda  */

#div-despertador,
#div-temporizador,
#div-cronometro {
    text-align: center;
    background-color: #1215284e;
    margin-top: 20vh;
    height: 45vh;
    width: 30vw;
    box-shadow: 0 0 5px black;
    display: none;
    user-select: none;
}

.btn-voltar {
    width: 2vw;
    height: 4vh;
    user-select: none;
    margin: 5%;
}

.btn-voltar:hover {
    transform: scale(1.10);
    transition-duration: 0.1s;
}

.btn-voltar img {
    width: 2vw;
}



/* CSS Div Cronômetro */

#span-smh,
#span-temp {
    margin: 0 auto;
    width: 25vw;
    font-size: 50pt;
}

#span-temp {
    display: none;
}

.botoes-func-container {
    margin: 0 auto;
    margin-top: 10%;
    width: 20vw;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.btn-func {
    height: 5vh;
    box-shadow: 0 0 5px black;
    border-radius: 5%;
    font-size: 19pt;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-func:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#span-milissegundos {
    font-size: 15pt;
}



/* CSS Relógio */

/* .clock {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 0.5px solid black;
    box-shadow: 0 0 25px black;
    position: relative;
    color: white;
}

.number {
    font-size: 1.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2px;
}

.number-1 {
    transform: rotate(30deg);
}

.number-2 {
    transform: rotate(60deg);
}

.number-3 {
    transform: rotate(90deg);
}

.number-4 {
    transform: rotate(120deg);
}

.number-5 {
    transform: rotate(150deg);
}

.number-6 {
    transform: rotate(180deg);
}

.number-7 {
    transform: rotate(210deg);
}

.number-8 {
    transform: rotate(240deg);
}

.number-9 {
    transform: rotate(270deg);
}

.number-10 {
    transform: rotate(300deg);
}

.number-11 {
    transform: rotate(330deg);
} */

#input-despertador {
    width: 15vw;
    height: 8vh;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
    background-color: rgba(14, 16, 27, 0.393);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
    font-size: 25pt;
    text-align: center;
    font-family: 'Nunito';
}

#input-despertador:hover,
#input-titulo-despertador:hover {
    transform: scale(1.04);
    transition-duration: 0.2s;
}

#input-titulo-despertador {
    width: 15vw;
    height: 3vh;
    border-radius: 10px;
    margin-top: 3vh;
    border: 1px solid transparent;
    color: white;
    background-color: rgba(14, 16, 27, 0.393);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
    font-size: 15pt;
    text-align: center;
}

#adicionar-despertador {
    height: 5vh;
    border-radius: 5%;
    font-size: 19pt;
    background-color: rgba(14, 16, 27, 0.393);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
    border: 1px solid transparent;
    color: white;
    font-family: 'Nunito';
    padding-bottom: 5vh;
    margin-top: 3vh;
}



/* CSS Alarmes */

#div-alarmes {
    position: absolute;
    background-color: #1215284e;
    width: 20vw;
    height: 89vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.409);
    margin-left: 80vw;
    margin-top: 10.2vh;
    display: none;
    border-top-left-radius: 10px;
}

.alarme {
    margin-top: 3vh;
    margin-left: -1vh;
    width: 16vw;
    height: 7.5vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
    background-color: rgb(14, 16, 27);
    border-radius: 5px;
    font-size: 20pt;
    padding-left: 1vw;
    padding-top: 1.5vh;
    display: flex;
    flex-direction: column;
}

.img-lata-lixo {
    width: 30px;
    position: absolute;
    margin-left: 13.4vw;
    margin-top: 1.3vh;
}

#span-titulo-alarme {
    font-size: 15pt;
}

.adicionar-alarme img {
    width: 2.5vw;
}

.alarme:hover,
.adicionar-alarme:hover,
.img-lata-lixo:hover {
    transform: scale(1.04);
}

.adicionar-alarme {
    margin-top: 3vh;
    margin-left: -1vh;
    width: 16vw;
    height: 7.5vh;
    background-color: rgba(14, 16, 27, 0.393);
    border-radius: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.423);
    padding-left: 1vw;
    padding-top: 1.5vh;
}