/* Importa a fonte 'Nunito' */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@-o-viewport {
    zoom: 1.00;
    min-zoom: 0.75;
    max-zoom: 1.5;
    background-color: #49515a47;
}

* {
    user-select: none;
    color: white;
}

/* Definindo cores das divs (background-color) */

.cor1 {
    background-color: #0e101b;
}

.cor2 {
    background-color: #1215284e;
}

.cor3 {
    background-color: #4647503d;
}

.cor4 {
    background-color: #0e101b64;
}

/* Definindo sombras da borda das divs (box-shadow) */

.sombra1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
}

.sombra2 {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.sombra3 {
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

.sombra4 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
}

/* Definindo a circunferência da borda das divs (border-radius) */

.borda1 {
    border-radius: 50px;
}

.borda2 {
    border-radius: 10px;
}

.borda3 {
    border-radius: 5px;
}

.borda4 {
    border-radius: 5%;
}



/* CSS Body */

#body {
    width: 100%;
    font-family: 'Nunito';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.span-tempo:hover {
    color: blueviolet;
    #span-smh, #span-milissegundos {
        color: blueviolet;
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
    transform: scale(1.05);
    transition-duration: 0.5s;
}

/* CSS Header */

#header {
    width: 100%;
    justify-content: space-evenly;
    display: none;
    margin-top: -1vh;
    margin-left: -1vw;
}

#relogio-header {
    font-size: 20pt;
    margin-top: 1.2vh;
}

#info {
    display: flex;
    justify-content: center;
    column-gap: 3vh;
    margin-bottom: 0.2vh;
}

#info img {
    width: 75%;
}

.card-header {
    padding-top: 1%;
    width: 50px;
    margin-top: 10px;
}

.card-header:hover {
    transform: scale(1.10);
    transition-duration: 0.1s;
}

#invisivel {
    display: none;
}


/* CSS Relógio */

#div-relogio {
    font-size: 50pt;
    margin-top: 40vh;
    display: block;
}

/* CSS Opções de Escolha */

#bloco-principal {
    margin-top: 20vh;
    width: 40%;
    height: 40vh;
    text-align: center;
    font-weight: bold;
    display: none;
}

#titulo {
    margin-top: 4%;
    font-size: 2pc;
}

.opcao {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 26.6%;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

.opcao img {
    width: 80%;
    padding: 9%;
}

.btn-despertador:hover,
.btn-temporizador:hover,
.btn-cronometro:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#txt-despertador,
#txt-temporizador,
#txt-cronometro {
    margin-top: 2.8vh;
    padding-bottom: 3%;
    font-size: 1.8pc;
    display: none;
}

.btn-despertador:hover~#txt-despertador,
.btn-temporizador:hover~#txt-temporizador,
.btn-cronometro:hover~#txt-cronometro {
    display: inline-block;
}


.opcaoTexto {
    margin-top: 35%;
    font-weight: bold;
}

.input-temporizador {
    border: 1px solid transparent;
    width: 3.7vw;
    background-color: rgba(70, 71, 80, 0.238);
    font: 'Nunito';
    font-size: 40pt;
    text-align: center;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
}

#iniciar_temporizador,
#zerar_temporizador,
#pausar_temporizador {
    display: none;
}

#container-temporizador {
    position: absolute;
    margin-top: 37.5vh;
    display: none;
}
#empurra {
    margin-left: 5.53vw;
}

#confirmar-valor {
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    width: 14vw;
    font-size: 12pt;
    padding-top: 3px;
    padding-bottom: 3px;
}

#confirmar-valor:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#div-inputs-temporizador {
    margin: 0 auto;
    width: 25vw;
    font-size: 50pt;
}



/* CSS Div Escolhinda  */

#div-despertador,
#div-temporizador,
#div-cronometro {
    text-align: center;
    margin-top: 20vh;
    height: 45vh;
    width: 30%;
    display: none;
}

.header-div-opcao {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
}

.btn-voltar {
    width: 2vw;
    margin: 5%;
}

.btn-voltar:hover {
    transform: scale(1.10);
    transition-duration: 0.1s;
}

.btn-voltar img {
    width: 2vw;
}

.img-direita-superior img {
    width: 2.8vw;
    margin-top: 2vh;
    margin-left: -5.5vw;
}



/* CSS Div Cronômetro */

#container-cronometro {
    position: absolute;
    margin-top: 37.5vh;
    display: none;
}

#span-smh,
#span-smh2,
#span-temporizador {
    margin: 0 auto;
    width: 15vw;
    font-size: 50pt;
}

#span-cronometro {
    margin: 0 auto;
    width: 15vw;
}

#span-temporizador {
    display: none;
    margin-left: 2.65vw;
}

.botoes-func-container {
    margin: 0 auto;
    margin-top: 10%;
    width: 20vw;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

/* #botoes-func-container-despertador,
#botoes-func-container-temporizador {
    display: none;
} */

@keyframes pulse {
    0% {
        transform: scale(1); /* Tamanho original */
    }
    50% {
        transform: scale(1.03); /* Tamanho aumentado (pulso) */
    }
    100% {
        transform: scale(1); /* Tamanho original */
    }
}

.btn-func {
    font-size: 19pt;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3.5%;
}

.btn-func:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}

#span-milissegundos,
#span-milissegundos2 {
    font-size: 15pt;
}



/* CSS Despertador */

#input-despertador {
    width: 15vw;
    height: 8vh;
    border: 1px solid transparent;
    font-size: 25pt;
    text-align: center;
    font-family: 'Nunito';
}

#input-despertador:hover,
#input-titulo-despertador:hover {
    transform: scale(1.04);
    transition-duration: 0.2s;
}

#input-titulo-despertador {
    width: 15vw;
    margin-top: 3vh;
    padding-top: 0.3vh;
    border: 1px solid transparent;
    font-size: 15pt;
    text-align: center;
}

#adicionar-despertador {
    font-size: 19pt;
    border: 1px solid transparent;
    font-family: 'Nunito';
    padding-bottom: 1.2vh;
    margin-top: 1.5vh;
}

#pausar_cronometro,
#zerar_cronometro {
    display: none;
}

/* CSS Alarmes */

#div-alarmes {
    position: absolute;
    width: 21vw;
    height: 80%;
    margin-left: 120vw;
    margin-top: 10.2vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 1s;
    overflow: auto;
    z-index: 1;
}

.etiqueta {
    position: absolute;
    width: 1.6vw;
    height: 10.5vh;
    margin-left: 97.4vw;
    transition: transform 1s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}

#puxa-alarmes {
    margin-top: 12vh;
    z-index: 1;
}
#puxa-alarmes img {
    width: 90%;
}
#gira-puxa-alarmes {
    transform: rotate(-90deg);
    margin-top: 4.5vh;
}
#gira-puxa-alarmes2 {
    transform: rotate(-90deg);
    margin-top: 0.7vh;
    margin-left: 0.4vw;
}

#puxa-teste {
    margin-top: 24vh;
    z-index: 0;
}
#puxa-teste img {
    width: 80%;
}
#gira-puxa-teste {
    transform: rotate(-90deg);
    margin-top: 4.5vh;
}
#gira-puxa-teste2 {
    transform: rotate(-90deg);
    margin-top: 0.7vh;
    margin-left: 0.4vw;
}



#div-alarmes::-webkit-scrollbar {
    width: 1vw;
}

#div-alarmes::-webkit-scrollbar-thumb {
    background: #0e101b;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 2px;
}

#div-alarmes::-webkit-scrollbar-thumb:hover {
    background-color: #49515a47;
}

.move-esquerda {
    transform: translateX(-21vw);
}

.alarme {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: -1vh;
    width: 16vw;
    font-size: 24pt;
    padding-left: 1vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5vh;
}

.img-lata-lixo {
    width: 30px;
    position: absolute;
    margin-left: 13.7vw;
    margin-top: 0.5vh;
}

#span-titulo-alarme {
    width: 80%;
    font-size: 12pt;
    overflow-wrap: break-word;
}

#adicionar-alarme img {
    width: 2.5vw;
    padding-left: 7.35vw;
    padding-top: 1.8vh;
}

.alarme:hover,
#adicionar-alarme:hover,
.img-lata-lixo:hover {
    transform: scale(1.04);
    transition-duration: 0.07s;
}

#adicionar-alarme {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1.5vw;
    width: 17vw;
    padding-bottom: 1.1vh;
    border: 1px dashed rgba(255, 255, 255, 0.079);
    background-color: rgba(0, 0, 0, 0.218);
}

#span-alarme {
    text-align: center;
    position: absolute;
    width: 25%;
    margin-top: 34vh;
    display: none;
    animation: pulse 1s infinite;
}

#horario-span-alarme {
    font-size: 50pt;
    margin-top: 2vh;
}

#titulo-span-alarme {
    width: 80%;
    margin: 0 auto;
    font-size: 13pt;
    margin-top: 2vh;
    overflow-wrap: break-word;
}

#botao-span-alarme {
    font-size: 15pt;
    margin: 0 auto;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    padding-top: 1.3vh;
    padding-bottom: 1vh;
    width: 20%;
    background-color: #ff0000;
}

#botao-span-alarme:hover {
    transform: scale(1.04);
}