/* Importa a fonte 'Nunito' */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@-o-viewport {
    zoom: 1.00;
    min-zoom: 0.75;
    max-zoom: 1.5;
    background-color: #49515a47;
}

* {
    font-family: 'Nunito';
    user-select: none;
    color: white;
}

/* div [id]:hover, */
header [id]:hover,
img:hover {
    cursor: pointer;
}

/* Definindo cores das divs (background-color) */

.cor1 {
    background-color: #161618fa;
}

.cor2 {
    background-color: #1215284e;
}

.cor3 {
    background-color: #4647503d;
}

.cor4 {
    background-color: #0e101b64;
}

/* Definindo sombras da borda das divs (box-shadow) */

.sombra1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.409);
}

.sombra2 {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.sombra3 {
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

.sombra4 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.83);
}

/* Definindo a circunferência da borda das divs (border-radius) */

.borda1 {
    border-radius: 50px;
}

.borda2 {
    border-radius: 10px;
}

.borda3 {
    border-radius: 5px;
}

.borda4 {
    border-radius: 5%;
}


/* CSS Body */

/* Corpo da Página (Inclui Tudo) */
#body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}

/*  */
#corpo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    height: 90vh;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.botoes-func-container {
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

/* CSS Relógio (Relógio que aparece no inicio do programa) */
#div-relogio {
    position: absolute;
    font-size: 50pt;
    display: block;
    cursor: pointer;
    display: flex;
    align-self: center;
}

/* CSS Opções de Escolha */
/* #bloco-principal > div:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
    cursor: pointer;
} */
#txt-despertador,
#txt-temporizador,
#txt-cronometro {
    margin-top: 2vh;
    font-size: 16pt;
    display: none;
}
.opcaoTexto {
    margin-top: 35%;
    font-weight: bold;
}

.btn-func {
    font-size: 15pt;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3.5%;
}

@media screen and (max-width:600px) {

    .btn-func {
        font-size: 12pt;
    }

}

.btn-func:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}

/* CSS Div Escolhinda  */
#div-despertador,
#div-temporizador,
#div-cronometro {
    text-align: center;
    height: 45vh;
    width: 30%;
    display: none;
}

.header-div-opcao {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
}

.btn-voltar {
    width: 2vw;
    margin: 5%;
}

.btn-voltar:hover {
    transform: scale(1.10);
    transition-duration: 0.1s;
}

.btn-voltar img {
    width: 2vw;
}

.img-direita-superior img {
    width: 2.8vw;
    margin-top: 2vh;
    margin-left: -5.5vw;
}

/* Efeito de Pulso Presente nos Botões de Parar ou no Span de Alarme (quando está tocando) */
@keyframes pulse {
    0% {
        transform: scale(1);
        /* Tamanho original */
    }

    50% {
        transform: scale(1.03);
        /* Tamanho aumentado (pulso) */
    }

    100% {
        transform: scale(1);
        /* Tamanho original */
    }
}