/* CSS Body Atualizado */

#body {
    background-color: rgba(0, 128, 0, 0.367);
}

/* CSS Opções de Escolha Atualizado */

#bloco-principal {
    width: 60%;
    height: 28vh;
    margin-top: 15vh;
}

#titulo {
    font-size: 16pt;
}

#txt-despertador,
#txt-temporizador,
#txt-cronometro {
    font-size: 20pt;
}

/* CSS Temporizador Atualizado */

.input-temporizador {
    width: 8vw;
    font-size: 30pt;
}

#container-temporizador {
    margin-top: 28vh;
}

#empurra {
    margin-left: 4.13vw;
}

#confirmar-valor {
    width: 22vw;
}

#div-inputs-temporizador {
    width: 40vw;
    font-size: 50pt;
}



/* CSS Div Escolhinda  */

#div-despertador,
#div-temporizador,
#div-cronometro {
    margin-top: 15vh;
    height: 30vh;
    width: 60%;
}


.btn-voltar {
    width: 2vw;
}

.btn-voltar img {
    width: 5vw;
}

.img-direita-superior img {
    width: 7vw;
    margin-top: 1.2vh;
    margin-left: -12vw;
}



/* CSS Div Cronômetro Atualizado */

#container-cronometro {
    margin-top: 28vh;
}

#span-smh,
#span-temporizador {
    width: 36vw;
    font-size: 45pt;
}

#span-cronometro {
    width: 34vw;
}

#span-temporizador {
    margin-left: -0.2vw;
    width: 31vw;
}

.botoes-func-container {
    margin-top: 9%;
    column-gap: 8%;
}

.btn-func {
    font-size: 19pt;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

#span-milissegundos {
    font-size: 10pt;
}



/* CSS Despertador */

#input-despertador {
    width: 15vw;
    height: 8vh;
    border: 1px solid transparent;
    font-size: 25pt;
    text-align: center;
}

#input-titulo-despertador {
    width: 15vw;
    margin-top: 3vh;
    padding-top: 0.3vh;
    border: 1px solid transparent;
    font-size: 15pt;
    text-align: center;
}

#adicionar-despertador {
    font-size: 17pt;
    padding-bottom: 0.6vh;
    margin-top: 1vh;
}

#pausar_cronometro,
#zerar_cronometro {
    display: none;
}













































/* CSS Alarmes */

#div-alarmes {
    position: absolute;
    width: 21vw;
    height: 80%;
    margin-left: 120vw;
    margin-top: 10.2vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 1s;
    overflow: auto;
    z-index: 1;
}

.etiqueta {
    position: fixed;
    width: 30px;
    padding-bottom: 8px;
    margin-left: 97.4vw;
    transition: transform 1s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}

#puxa-alarmes {
    margin-top: 12vh;
    z-index: 1;
}
#puxa-alarmes img {
    width: 85%;
    padding-top: 1px;
}
#gira-puxa-alarmes {
    transform: rotate(-90deg);
    margin-top: 4.5vh;
}
#gira-puxa-alarmes2 {
    transform: rotate(-90deg);
    margin-top: 0.7vh;
    margin-left: 0.4vw;
}

#div-alarmes::-webkit-scrollbar {
    width: 1vw;
}

#div-alarmes::-webkit-scrollbar-thumb {
    background: #0e101b;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 2px;
}

.move-esquerda {
    transform: translateX(-21vw);
}

.alarme {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: -1vh;
    width: 16vw;
    font-size: 24pt;
    padding-left: 1vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5vh;
}

.img-lata-lixo {
    width: 30px;
    position: absolute;
    margin-left: 13.7vw;
    margin-top: 0.5vh;
}

#span-titulo-alarme {
    width: 80%;
    font-size: 12pt;
    overflow-wrap: break-word;
}

#adicionar-alarme img {
    width: 2.5vw;
    padding-left: 7.35vw;
    padding-top: 1.8vh;
}

#adicionar-alarme {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1.5vw;
    width: 17vw;
    padding-bottom: 1.1vh;
    border: 1px dashed rgba(255, 255, 255, 0.079);
    background-color: rgba(0, 0, 0, 0.218);
}

/* CSS Span de Alarme Atualizado */

#span-alarme {
    width: 40%;
    margin-top: 30vh;
}

#horario-span-alarme {
    font-size: 40pt;
    margin-top: 2vh;
}

#titulo-span-alarme {
    width: 80%;
    margin: 0 auto;
    font-size: 13pt;
    margin-top: 2vh;
    overflow-wrap: break-word;
}

#botao-span-alarme {
    width: 30%;
}