/* CSS Despertador */

/* Formulário com as Informações do Despertador */
.form-despertador {
    display: flex;
    flex-direction: column;
}
/* Input do Valor do Horário do Alarme */
#input-despertador {
    width: 10em;
    border: 1px solid transparent;
    font-size: 17pt;
    text-align: center;
    margin: auto;
}
/* Input do Valor do Título/Descrição do Alarme */
#input-titulo-despertador, #input-titulo-check {
    width: 14em;
    border: 1px solid transparent;
    font-size: 12pt;
    text-align: center;
    margin: auto;
}
/* Evento de Mouse dos Inputs de Valor do Despertador (Horário e Título) */
#input-despertador:hover,
#input-titulo-despertador:hover {
    transform: scale(1.04);
    transition-duration: 0.2s;
}
/* Botão de Adicionar o Despertador (Horário e Título) */
#adicionar-despertador {
    font-size: 15pt;
    border: 1px solid transparent;
}
/* Evento de Mouse do Botão de Adicionar Despertador */
#adicionar-despertador:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}
/* Evento de Mouse do Botão de Cancelar o Despertador */
#botao-span-alarme:hover {
    cursor: pointer;
}

/* Responsividade para Celulares com Menos de 500px de Largura */
@media screen and (max-width:500px) {

    .accordion-button {
        font-size: 15pt;
    }

    #input-despertador {
        width: 8em;
    }

    #input-titulo-despertador {
        width: 10em;
    }

}