/* CSS Despertador */

.accordion-item {
    /* max-width: 17vw; */
    /* min-width: 17vw; */
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.accordion-button {
    font-size: 18pt;
    border: 1px solid transparent;
}

.form-despertador {
    display: flex;
    flex-direction: column;
}

#input-despertador {
    width: 10em;
    border: 1px solid transparent;
    font-size: 17pt;
    text-align: center;
    margin: auto;
}

#input-titulo-despertador {
    width: 14em;
    border: 1px solid transparent;
    font-size: 12pt;
    text-align: center;
    margin: auto;
}

@media screen and (max-width:500px) {

    .accordion-button {
        font-size: 15pt;
    }

    #input-despertador {
        width: 8em;
    }

    #input-titulo-despertador {
        width: 10em;
    }

}

#input-despertador:hover,
#input-titulo-despertador:hover {
    transform: scale(1.04);
    transition-duration: 0.2s;
}

#adicionar-despertador {
    font-size: 15pt;
    border: 1px solid transparent;
}

#adicionar-despertador:hover {
    background-color: rgba(70, 71, 80, 0.238);
    transform: scale(1.05);
    transition-duration: 0.1s;
}