/* CSS Temporizador */

/* Inputs e Botão de Confirmação do Temporizador */
#iniciar_temporizador,
#zerar_temporizador,
#pausar_temporizador {
    display: none;
}
/* Div de Input das Horas, Minutos e Segundos do Temporizador */
#div-inputs-temporizador {
    display: flex;
    justify-content: center;
}
/* Inputs de Valor do Temporizador (HH:mm:ss) */
#div-inputs-temporizador > input{
    border: 1px solid transparent;
    background-color: rgba(70, 71, 80, 0.238);
    font-size: 20pt;
    text-align: center;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
}

/* Div de Confirmar Valor de Tempo do Temporizador */
#confirmar-valor {
    text-align: center;
    margin-top: 2vh;
    font-size: 12pt;
}
/* Evento de Mouse do Botão de Confirmação */
#confirmar-valor:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}
/* Div que Contém tanto a Div de Inputs quanto o Botão de Confirmação */
#div-botoes-temporizador {
    font-size: 50pt;
}
/* Valor do Tempo Atual em Contagem Regressiva */
#span-temporizador {
    display: none;
}

/* Responsividade para celulares com menos de 500px de largura */
@media screen and (max-width:500px) {

    /* Inputs de Valor do Temporizador (HH:mm:ss) */
    #div-inputs-temporizador > input {
        font-size: 15pt;
    }

}