@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

.App-info {
  background-color: #0e101b;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Nunito';
}