.bloco {
    width: 40%;
    height: 40vh;
    border: 4px solid black;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    /* background-color: #272f3e; */
    display: none;
}

.titulo{
    margin-top: 4%;
    font-size: 2pc;
}

.opcao{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 26%;
    height: 19.3vh;
    border: 3px solid black;
    border-radius: 10px;
}

.opcao img {
    width: 150px;
    padding: 11.5%;
    user-select: none;
}

.despertador:hover, .relogio:hover, .cronometro:hover {
    background-color: rgba(70, 71, 80, 0.238);
}

.op1, .op2, .op3{
    margin-top: 2.8vh;
    font-size: 1.8pc;
    display: none;
}
.despertador:hover ~ .op1, .relogio:hover ~ .op2, .cronometro:hover ~ .op3{
    display: inline-block;
}

.opcaoTexto {
    margin-top: 35%;
    font-weight: bold;
}